button{
    height: 4rem;
    width: 4rem;
    position: relative;
    cursor: pointer;
    transition:all 0.4s;
}
body{
    background-color: #c6e2ff;
}
button:hover{
    background-color: transparent;
    border-color:white;
    border-style: ridge;
    box-shadow: 0 2px 4px 0 black;
    color:white;
    height: 4.1rem;
    width: 4.1rem;
    border-radius: 5px;

